body {
    font-family:Roboto, sans-serif;
}

header {
    display:flex;
    flex-flow: row wrap;
}
header img {
    width:75px;
    margin-right: 10px;
}
form {
    width:40%;
}
button, input, select, textarea
{   font-family: inherit; 
    font-size: 100%;
}
h1 {
    display:inline;
    margin-bottom:0px;
}
h5 {
    margin-bottom:auto;
}

input:focus {
    border:3px dotted blue;
}
input[type="submit"]:active {
    outline:none;
    border:3px solid yellow;
}

